<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>XinSite - 403</title>
	<link th:href="@{/javascript/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
	<script type="text/javascript">
        window.onload = function (ev) {
            if (typeof window.parent.extBodyUnmask == "function") {
                window.parent.extBodyUnmask();
            }
        }
	</script>
</head>
<body>
<div class="container-fluid">
	<div class="page-header"><h1>操作权限不足.</h1></div>
	<div>请联系管理员赋予相关权限。<a href="javascript:" onclick="history.go(-1);" class="btn">返回上一页</a></div>
</div>
</body>
</html>